<h1>Get Started</h1>
<h3>Step 1 of 7</h3>

<div class="field">
  <label for="">Enter the name of your job post</label>
  <input type="text" name="name">
  <br>
  <b>Here are some good examples:br
    <br>

    Developer needed for creating a responsive WordPress Theme
    <br>
    CAD designer to create a 3D model of a residential building
    <br>
    Need a design for a new company logo</b>

</div>