<h1>Get Started</h1>
<h3>Step 1 of 7</h3>

<div class="field">
  <label for="">Enter the name of your job post</label>
  <input type="text" name="name">
  Here are some good examples:

  Developer needed for creating a responsive WordPress Theme
  CAD designer to create a 3D model of a residential building
  Need a design for a new company logo
</div>