<h1>Expertise</h1>
<h3>Step 4 of 7</h3>

<h3>What skills and expertise are most important to you in Graphic Design?</h3>
<br>

Some Cat1
<br>
Some Cat2
<br>
Some Cat3
<br>
Some Cat4
<br>


<h3>What additional skills and expertise are important to you?</h3>
Some Cat1

Not what you're looking for?
<br>
Dropdown Searchable

<h3>What level of experience should your freelancer have?</h3>
<br>

<div class="ui three stackable cards">
  <div class="experience card" onclick="selectthis(this, 1, 'experience');">
    <div class="image">
      <img src="/uploads/imgs/design/kristy.png">
    </div>
  </div>
  <div class="experience card" onclick="selectthis(this, 2, 'experience');">
    <div class="image">
      <img src="/uploads/imgs/design/matthew.png">
    </div>
  </div>
  <div class="experience card" onclick="selectthis(this, 3, 'experience');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/molly.png">
    </div>
  </div>
</div>
<br><br>
<input id="experience" type="number" name="experience">

<br>
<br>
<button class="ui green  button" onclick="event.preventDefault(); next(4);">Next</button>