<h1>Expertise</h1>
<h3>Step 4 of 7</h3>

<h3>What skills and expertise are most important to you in Graphic Design?</h3>
<br>

<div class="ui three stackable cards">
  <div class="category card" onclick="selectthis(this, 1, 'category');">
    <div class="image">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="category card" onclick="selectthis(this, 2, 'category');">
    <div class="image">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="category card" onclick="selectthis(this, 3, 'category');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="category card" onclick="selectthis(this, 4, 'category');">
    <div class="image">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="category card" onclick="selectthis(this, 5, 'category');">
    <div class="image">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="category card" onclick="selectthis(this, 6, 'category');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
</div>

<br><br>
<input id="category" type="number" name="category">
<br><br>



<script>

  

function changeCategory(_number){

let a =  {{categories}}
console.log(a);


}



</script>

<div class="ui six stackable cards subclassfield">
  <div class="subcategory card" onclick="selectthis(this, 1, 'subcategory');">
    <div class="image">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="subcategory card" onclick="selectthis(this, 2, 'subcategory');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="subcategory card" onclick="selectthis(this, 3, 'subcategory');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="subcategory card" onclick="selectthis(this, 4, 'subcategory');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="subcategory card" onclick="selectthis(this, 5, 'subcategory');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="subcategory card" onclick="selectthis(this, 6, 'subcategory');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="subcategory card" onclick="selectthis(this, 7, 'subcategory');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="subcategory card" onclick="selectthis(this, 8, 'subcategory');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="subcategory card" onclick="selectthis(this, 9, 'subcategory');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>



</div>

<br><br>
<input id="subcategory" type="number" name="subcategory">
<br><br>


<h3>What additional skills and expertise are important to you?</h3>
Some Cat1

Not what you're looking for?
<br>
Dropdown Searchable

<h3>What level of experience should your freelancer have?</h3>
<br>

<div class="ui three stackable cards">
  <div class="experience card" onclick="selectthis(this, 1, 'experience');">
    <div class="image">
      <img src="/uploads/imgs/design/kristy.png">
    </div>
  </div>
  <div class="experience card" onclick="selectthis(this, 2, 'experience');">
    <div class="image">
      <img src="/uploads/imgs/design/matthew.png">
    </div>
  </div>
  <div class="experience card" onclick="selectthis(this, 3, 'experience');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/molly.png">
    </div>
  </div>
</div>
<br><br>
<input id="experience" category="number" name="experience">

<br>
<br>
<button class="ui green  button" onclick="event.preventDefault(); next(4);">Next</button>