<div class="ui grid">
  <div class="three wide column">
<input type="text" name="question">
  </div>
  <div class="one wide column">
    <i class="delete  icon" onclick="deletequestion(this);"></i>
  </div>
</div>

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
</div>