<div class="ui grid">
  <div class="three wide column">
<input type="text" name="question">
  </div>
  <div class="row">
    <i class="delete  icon" onclick="deletequestion(this);"></i>
  </div>
</div>