<span>
<input type="text" name="question"><i class="delete  icon" onclick="deletequestion(this);"></i>
</span>

<div class="ui left icon input">
  <input type="text" placeholder="Search...">
  <i class="search icon"></i>
</div>