<div class="ui middle aligned centered grid">
  <div class="fourteen wide column">
<input type="text" name="question">
  </div>
  <div class="two column ">
    <i class="delete icon" onclick="deletequestion(this);"></i>
  </div>
</div>

