<div class="ui grid">
  <div class="fourteen wide column">
<input type="text" name="question">
  </div>
  <div class="two wide column">
    <i class="delete  icon" onclick="deletequestion(this);"></i>
  </div>
</div>

<div class="ui grid">
  <div class="eight wide column"></div>
  <div class="eight wide column"></div>
  <div class="ten wide column"></div>
  <div class="six wide column"></div>
  <div class="four wide column"></div>
  <div class="twelve wide column"></div>
  <div class="two wide column"></div>
  <div class="fourteen wide column"></div>
  <div class="sixteen wide column"></div>
</div>

<style></style>