<div class="ui grid">
  <div class="fourteen wide column">
<input type="text" name="question">
  </div>
  <div class="two column centered">
    <i class="delete large icon" onclick="deletequestion(this);"></i>
  </div>
</div>

