<div class="ui  grid">
  <div class="fourteen wide column">
<input type="text" name="question">
  </div>
  <div class="two column middle aligned ">
    <i class="delete icon" onclick="deletequestion(this);"></i>
  </div>
</div>

