<h1>Description</h1>
<h3>Step 2 of 7</h3>

<h3>
    <b>A good description includes:</b>
  </h3>
  <ul>
    <li>What the deliverable is</li>
    <li>Type of freelancer or agency you're looking for</li>
    <li>Anything unique about the project, team, or your company</li>
  </ul>

  <textarea name="" id="" cols="30" rows="10"></textarea>

<button class="ui green button" onclick="event.preventDefault(); next(2);">Next</button>