<h1>Description</h1>
<h3>Step 2 of 7</h3>

<h3>
    <b>A good description includes:</b>
  </h3>
  <ul>
    <li>What the deliverable is</li>
    <li>CAD designer to create a 3D model of a residential building</li>
    <li>Need a design for a new company logo</li>
  </ul>

<button class="ui green button" onclick="event.preventDefault(); next(2);">Next</button>