<h1>Budget</h1>
<h3>Step 6 of 7</h3>



<div class="ui three stackable cards">
  <div class="budget card" onclick="selectthis(this, 1, 'budget');">
    <div class="image">
      <img src="/uploads/imgs/design/kristy.png">
    </div>
  </div>
  <div class="budget card" onclick="selectthis(this, 2, 'budget');">
    <div class="image">
      <img src="/uploads/imgs/design/matthew.png">
    </div>
  </div>
</div>
<br><br>
<input id="budget" type="number" name="budget">
<br>
<br>
<div class="hourly" hidden>
  <div class="hourly range">
    <div class="field">
    <label for="">Set your own hourly range</label>

    </div>
    <div class="fields">
      <div class="field">
        <div class="ui right labeled input">
          <label for="amount" class="ui label">$</label>
          <input type="text" placeholder="Amount" id="amount">
        </div>
      </div>
      <div style="display: flex; align-items: center;">
        TO
      </div>
      <div class="field">
        <div class="ui right labeled input">
          <label for="amount" class="ui label">$</label>
          <input type="text" placeholder="Amount" id="amount">
        </div>
      </div>
    </div>
  </div>

  <div class="undecided">
    bbbbbbbb
  </div>


</div>
<br><br>
<div class="fixed" hidden>

  <h4>Do you have a specific budget?</h4>
  <div class="ui right labeled input">
    <label for="amount" class="ui label">$</label>
    <input type="text" placeholder="Amount" id="amount">
    <div class="ui basic label">USD</div>
  </div>
</div>


<br>
<br>
<button class="ui green button" onclick="event.preventDefault(); next(4);">Next</button>

<script>


  function togglebudget(_number) {

    if (_number === 1) {
      // hourly clicked
      $('div.hourly').show();
      $('div.fixed').hide();
      $('div.fixed :input').val('');
    }
    else {
      // fixed clicked
      $('div.fixed').show();
      $('div.hourly').hide();
      $('div.hourly :input').val('');
    }
    return false;


  }
</script>