<div class="ui three stackable cards">
  <div class="card">
    <div class="image">
      <img src="/images/avatar/large/elliot.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar/large/helen.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar/large/jenny.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar/large/veronika.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar/large/stevie.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar/large/steve.jpg">
    </div>
  </div>
</div>
<button class="ui green button" onclick="event.preventDefault(); next(3);">Next</button>