<h3>
    <b>Details</b>
  </h3>
  <ul>
    <li>What the deliverable is</li>
    <li>Type of freelancer or agency you're looking for</li>
    <li>Anything unique about the project, team, or your company</li>
  </ul>


<div class="ui three stackable cards">
  <div class="type card" onclick="selectthis(this, 1);">
    <div class="image">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="type card" onclick="selectthis(this, 2);">
    <div class="image">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="type card" onclick="selectthis(this, 3);">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
</div>
<br><br>
<input id="projecttype" type="number" name="projecttype">
<br><br>
<button class="ui green button" onclick="event.preventDefault(); next(3);">Next</button>

<script>
  function selectthis(_this, _number) {
    console.log(_this);

    $('.type').removeClass("selected");
    $(_this).addClass("selected");

    $('input#projecttype').val(_number);

  }
</script>

<style>
  .selected {
    border-bottom: 10px solid red !important;
  }
</style>