<div class="ui three stackable cards">
  <div class="type card" onclick="selectthis(this, 1);">
    <div class="image">
      {{!-- <img src="/uploads/imgs/design/elliot.jpg"> --}}
    </div>
  </div>
  <div class="type card" onclick="selectthis(this, 2);">
    <div class="image">
      {{!-- <img src="/uploads/imgs/design/elliot.jpg"> --}}
    </div>
  </div>
  <div class="type card" onclick="selectthis(this, 3);">
    <div class="image" onclick="3">
      {{!-- <img src="/uploads/imgs/design/elliot.jpg"> --}}
    </div>
  </div>
</div>
<input id="projecttype" type="number" name="projecttype">
<button class="ui green button" onclick="event.preventDefault(); next(3);">Next</button>

<script>
  function selectthis(_this, _number) {
    console.log(_this);

    $('.type').removeClass("selected");
    $(_this).addClass("selected");

    $('input#projecttype').val(_number);

  }
</script>

<style>
  .type {
    width: 50px;
    height: 90px;
    background-color: red;
  }
  .selected {
    box-shadow: inset 0 0 0 1000px rgba(202, 8, 8, 0.2);
  }
</style>