<h1>Details</h1>
<h3>Step 3 of 7</h3>

<h3>
  <b>What type of project do you have?</b>
</h3>


<div class="ui three stackable cards">
  <div class="type card" onclick="selectthis(this, 1, type);">
    <div class="image">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="type card" onclick="selectthis(this, 2, type);">
    <div class="image">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
  <div class="type card" onclick="selectthis(this, 3, type);">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/elliot.jpg">
    </div>
  </div>
</div>
<br><br>
<input id="projecttype" type="number" name="projecttype">
<br><br>
<h3>
  Screening Questions (optional)
</h3>
Add screening questions and/or require a cover letter
<br>
<br>
<a class="ui fluid label" id="addquestion" onclick="addquestion()">
  <i class="plus icon"></i>
  Add a Question
</a>
<div class="field" id="questionfield">
<br>
  {{!-- place for questions --}}
</div>
<br><br>
<h3>Cover letter</h3>
<br>
<div class="ui checkbox">
  <input type="checkbox" name="coverletter">
  <label>Ask freelancers and agencies to write a cover letter introducing themselves.
</label>
<br>
</div>


<br><br>
<button class="ui green button" onclick="event.preventDefault(); next(3);">Next</button>

<script>
  let questions = 0;
  let maxQuestions = 4;

  function selectthis(_this, _number, _type) {
    @type('type , experience');
    console.log(_this);

    $('.type').removeClass("selected");
    $(_this).addClass("selected");

    $('input#projecttype').val(_number);

  }

  function addquestion() {
    if (questions > maxQuestions) {
      alert(`${maxQuestions + 1} only!`)
      questions = maxQuestions;
      return false;
    }
    questions++;

    const html = `{{> design/question}}`;
    $('div#questionfield').append(html);


  }
  function deletequestion(_this) {
    console.log(_this);

    $(_this).closest('div.questionbox').remove();
    questions--;
  }

</script>

<style>
  .selected {
    border-bottom: 10px solid red !important;
  }
</style>