{{!< main}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<form class="ui form" style="margin-left: 20px;" id="form" action="/design/add" method="POST"
  enctype="multipart/form-data">
  <div part="1" class="one part" >
    {{> design/one}}
  </div>

  <div part="2" class="two part" hidden>
    {{> design/two}}
  </div>

  <div part="3" class="three part" hidden>
    {{> design/three}}
  </div>

  <div part="4" class="four part" hidden>
    {{> design/four}}
  </div>

  <div part="5" class="five part" hidden>
    {{> design/five}}
  </div>

  <div part="6" class="six part" hidden>
    {{> design/six}}
  </div>

  <div part="7" class="seven part" hidden>
    {{> design/seven}}
  </div>
  <br><br>
  <button class="ui button submit" id="submit" type="submit" hidden>Submit</button>


</form>
<br><br>

{{!-- <button class="ui inverted fluid red large button" onclick="event.preventDefault();">등록하기</button> --}}

<br><br>

<script>

  let parts = 7;
  let categoryList = {{{ json categories }}}



  $(document).ready(function () {
    $('button.submit').hide();
  })

  function run(){
    $('#submit').click();
  }

  function next(part) {
    if (part >= parts) {
      alert('end!')
      $('div.part').show();
      $('button.next').hide();
      $('button.submit').show();
      $(window).scrollTop();
      return false;
    }
    $('div.part').hide();
    $(`[part=${part + 1}]`).show();
  }


  function selectthis(_this, _value, _type) {
    // console.log(_this);

    $(`div.${_type}`).removeClass("selecteditem");
    $(_this).addClass("selecteditem");

    $(`input#${_type}`).val(_value);


    switch (_type) {
      case 'budget':
        togglebudget(_value);
        break;
      case 'category':
        changeCategory(_value);
        break;
      case 'resultxy':
        const xy = _value.split(',');
        $('input#resultxy_x').val(xy[0]);
        $('input#resultxy_y').val(xy[1]);
        break;

      case 'paymenttype':
        $('div.paymentamoutbox').show().val('');
        $('input#paymentamout').val('');

        if (_value === 3) {
          $('div.paymentamoutbox').hide().val('');
          $('input#paymentamout').val('');
        }

        break;


      default:
        break;


    }

  }




  function handleFileSelect(item) {
    console.log(item.id);

    const imageSection = output = document.getElementById(`${item.id}result`)
    const maxFileLimit = 10;
    const element = $(`#${item.id}`);

    if (element[0].files.length > maxFileLimit) {
      element.val('');
      alert(`You can select only ${maxFileLimit} images`);
      clearThumbnails(imageSection);
      return false;
    }

    // Check File API support
    if (window.File && window.FileList && window.FileReader) {
      imageSection.innerHTML = '';
      const { files } = event.target; // FileList object
      for (let i = 0; i < files.length; i++) {
        const file = files[i];
        // Only pics
        //  continue;

        const fileReader = new FileReader();
        fileReader.addEventListener('load', (event) => {

          const thisFile = event.target;
          const div = document.createElement('div');
          div.innerHTML = `
          <div class="category card sample">
            <div class="ui image thumb">
              <img src='${thisFile.result}'>
            </div>
            <div class="content">
              ${file.name}
            </div>

          </div>
          `;

          if (!file.type.match('image')) {

            div.innerHTML = `
          <div class="category card sample">
            <div class="ui image thumb">
              <img src='documentimage.png'>
            </div>
            <div class="content">
              ${file.name}
            </div>
          </div>
          `;

          }
          imageSection.insertBefore(div, null);
        });
        // Read the image
        fileReader.readAsDataURL(file);
      }
    } else {
      console.log('Your browser does not support File API');
    }
  }


</script>


<style>
  .debugtest{
    background-color: rgb(201, 201, 201) !important;
  }

  .selecteditem {
    border-bottom: 10px solid green !important;
  }

  .sample {
    padding: 5px;
  }

  .thumb {
    height: 100px !important;
    width: 100px !important;
  }
</style>