<h1>프로젝트 세부정보</h1>
<h3>Step 5 of 7</h3>

<h3>프로젝트 유형</h3>

<div class="ui three stackable cards">
  <div class="projecttype card" onclick="selectthis(this, 1, 'projecttype');">
    <div class="image">
      <img src="/uploads/imgs/design/kristy.png">
    </div>
    <div class="content">일회성</div>
  </div>
  <div class="projecttype card" onclick="selectthis(this, 2, 'projecttype');">
    <div class="image">
      <img src="/uploads/imgs/design/kristy.png">
    </div>
    <div class="content">진행중</div>
  </div>
  <div class="projecttype card" onclick="selectthis(this, 3, 'projecttype');">
    <div class="image" onclick="3">
      <img src="/uploads/imgs/design/kristy.png">
    </div>
  <div class="content">복잡한</div>
  </div>
</div>
<br>
<input id="projecttype" class="debugtest" type="number" name="projecttype">
<br><br>

<h3>필요한 프리랜서수</h3>
<div class="ui three stackable cards">
  <div class="personnel card" onclick="selectthis(this, 1, 'personnel');">
    <div class="image">
      <img src="/uploads/imgs/design/molly.png">
    </div>
    <div class="content">한명</div>
  </div>
  <div class="personnel card" onclick="selectthis(this, 2, 'personnel');">
    <div class="image">
      <img src="/uploads/imgs/design/molly.png">
    </div>
    <div class="content">한명이상</div>
  </div>
</div>
<br>
<input id="personnel" class="debugtest" type="number" name="personnel">

<br>
<br>

<h3>고객 질문</h3>

<div class="presets">


</div>
<br>
<a class="ui fluid label" onclick="addquestion()">
  <i class="plus icon"></i>
  직접 질문 추가하기
</a>
<br>

<br>


<div class="field" id="questionfield">
  <br>
  {{!-- place for questions --}}
</div>
<br><br>


<button class="ui green button" onclick="event.preventDefault(); next(5);">Next</button>
{{!-- <button class="ui green button" onclick="event.preventDefault(); check();">find value</button> --}}






<script>

  let questions = 0;
  const maxQuestions = 4;

  //doucment on ready
  $(() => {

    $('.ui.dropdown')
      .dropdown();

    presetQuestions = [
      '프로젝트를 성공적으로 실행하기위한 제안이 있습니까?',
      '프로젝트에서 어려운 부분이 있습니까?',
      '프로젝트가 마음에 드는 부분은 무엇입니까?',
      '이 프로젝트와 비슷한 경험을 가지고 있습니까?',
      '필요한 기술 중 자신이 강하다고 생각하는 것은 무엇입니까?',
      '프로젝트의 어느 부분에 가장 많은 시간이 걸릴 것이라고 생각하십니까?',
      '이 프로젝트에 지원 한 이유는 무엇입니까?',
      '이 프로젝트에 적합한 이유는 무엇입니까?',
    ];

    for (i of presetQuestions) {
      const html =
        `<a class="ui fluid label" onclick="addquestion('${i}', this);">
          <i class="plus icon"></i>
           ${i}
        </a>`
      $('div.presets').append(html);
    }



  });

  function check() {
    let a = $('input[name="jobscore"]:checked').val();

    console.log(a);
  }

  function vanish(object) {

    if (questions > maxQuestions) {
      return false;
    }
      $(object).hide();

  }


  function addquestion(_preset, thisObject) {
    if (questions > maxQuestions) {
      alert(`${maxQuestions + 1} only!`)
      return false;
    }
    questions++;

    let value = '';

    if (_preset) {
      value = _preset;
      $(thisObject).hide();
    }
    else {
      console.log('empty');

    }
    const preset = _preset

    const html = `{{> design/questions}}`;

    $('div#questionfield').append(html);


  }
</script>