<h1>프로젝트 설명 및 파일첨부</h1>
<h3>Step 4 of 7</h3>

{{!-- <h3>
  <b>A good description includes:</b>
</h3>
<ul>
  <li>What the deliverable is</li>
  <li>Type of freelancer or agency you're looking for</li>
  <li>Anything unique about the project, team, or your company</li>
</ul> --}}

<div class="field">
  <label for="">프로젝트 설명</label>
  <textarea name="projectdesc" class="text" id="projectdesc" cols="30" rows="10"></textarea>

</div>
<br>
<br>

<div class="field">
  <h3>파일그룹 1</h3>

</div>
<input data-main="0" id="files1" multiple name="files1" type="file" onchange="handleFileSelect(this)">
<br>
<br>
<div id="files1result" class="ui three stackable cards" style="display: inline-flex;">
</div>

<br><br>

<div class="field">
  <h3>파일그룹 2</h3>

</div>
<input data-main="1" id="files2" multiple name="files2" type="file" onchange="handleFileSelect(this)">
<br>
<br>
<div id="files2result" class="ui three stackable cards" style="display: inline-flex;">
</div>

<br><br>


<a class="ui fluid label" id="addlink" onclick="addlink()">
  <i class="plus icon"></i>
  링크 첨부
</a>
<div class="field" id="linkfield">
  <br>
  {{!-- place for links --}}
</div>
<br><br>


<button class="ui green button" onclick="event.preventDefault(); next(4);">Next</button>



<script>
  let links = 0;
  const maxlinks = 4;

  function addlink() {
    if (links > maxlinks) {
      alert(`${maxlinks + 1} only!`)
      links = maxlinks;
      return false;
    }
    links++;

    const html = `{{> design/links}}`;
    $('div#linkfield').append(html);


  }
  function deletebox(_this, type) {
    // console.log(_this);

    $(_this).closest('div.box').remove();


    switch (type) {
      case 'link':
        links--;
        break;
      case 'question':
        questions--;
        break;
      default:
        alert('switch error');
        console.log('switch error');
        break;

    }


  }
</script>