<div class="box">
  <br>
  <div class="ui grid">
    <div class="fourteen wide column">
      <input type="text" name="links" placeholder="링크를 입력해주세요">
    </div>
    <div class="two column middle aligned ">
      <i class="delete icon" onclick="deletebox(this, 'link');"></i>
    </div>
  </div>
</div>