<h1>디자인 주문 경험? dummy</h1>
<h3>Step 1 of 7</h3>

<div class="field">

<div class="ui three stackable cards">
  <div class="userexperience card" onclick="selectthis(this, 1, 'userexperience');">
    <div class="image">
      <img src="/uploads/imgs/design/steve.jpg">
    </div>
    <div class="content">
      없음
    </div>
  </div>
  <div class="userexperience card" onclick="selectthis(this, 2, 'userexperience');">
    <div class="image">
      <img src="/uploads/imgs/design/steve.jpg">
    </div>
        <div class="content">
      있음
    </div>
  </div>

</div>
<br><br>
<input id="userexperience" class="debugtest" type="number" name="userexperience">

  </ul>
</div>

<button class="ui green  button" onclick="event.preventDefault(); next(1);">Next</button>