<div class="box">
  <br>
  <div class="ui grid">
    <div class="fourteen wide column">
      
      <input type="text" name="questions" placeholder="질문을 입력해주세요" value="${value}">
    </div>
    <div class="two column middle aligned">
      <i class="delete icon" onclick="deletebox(this, 'question');"></i>
    </div>
  </div>
</div>