<h1>어떤 계약 형태를 원하십니까?</h1>
<h3>Step 2 of 7</h3>

{{!-- <h3>
  <b>A good description includes:</b>
</h3>
<ul>
  <li>What the deliverable is</li>
  <li>Type of freelancer or agency you're looking for</li>
  <li>Anything unique about the project, team, or your company</li>
</ul> --}}

<div class="ui three stackable cards">
  <div class="duration card" onclick="selectthis(this, 1, 'duration');">
    <div class="image">
      <img src="/uploads/imgs/design/kristy.png">
    </div>
    <div class="content">단기</div>
  </div>
  <div class="duration card" onclick="selectthis(this, 2, 'duration');">
    <div class="image">
      <img src="/uploads/imgs/design/matthew.png">
    </div>
  <div class="content">장기</div>
  </div>
</div>
<br><br>
<input id="duration" class="debugtest" type="number" name="duration">

<br><br>
<button class="ui green button" onclick="event.preventDefault(); next(2);">Next</button>